@model SliderCreateVM
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <form method="post" asp-action="Create" class="my-3" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Image</label>
            <input asp-for="Image" class="form-control">
            <span asp-validation-for="Image" class="text-danger d-inline-block mt-3"></span>
        </div>
        <button type="submit" class="btn btn-success btn-rounded">Create</button>
        <a class="btn btn-primary btn-rounded mb-2 mt-2 mx-2" asp-action="Index">Back</a>
    </form>
</div>


