@model List<CategoryVM>
@{
    ViewData["Title"] = "Category";
}


<style>
    thead{
        background: silver;
    }

    tbody{
        background: floralwhite;
    }

    .table-bordered{
        border: 1px solid black !important;
    }

</style>


<div class="container">
    <h1 class="text-center my-3">Categories</h1>
    <div class="btn-create">
        <a class="btn btn-success btn-rounded" asp-action="Create">Create</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered my-5">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (CategoryVM category in Model)
                {
                    <tr>
                        <td>
                            @category.Name
                        </td>
                        <td>
                            <a class="btn btn-primary btn-rounded" asp-action="Detail" asp-route-id="@category.Id">Detail</a>
                            <a class="btn btn-warning btn-rounded" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                            <form style="display: inline-block" method="post" asp-action="Delete" asp-route-id="@category.Id">
                                <button type="submit" class="btn btn-danger btn-rounded">Delete</button>
                            </form>
                            
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
   
</div>


